@model SMS_MVCDTO.Models.DTOs.TransactionDTOs.TransactionResponseModel
@{
}

@{
    ViewData["Title"] = "Transaction Details";
}





<main class="main">
    <!-- <div class="dashboard"> -->
    <div class="form-container">

        <div id="Data-form">





            <div class="container1">
                <div>
                    <form asp-action="Edit">
                        <h1>View @Model.Data.ReferenceNo Reciept</h1>

                        <div class="form-group">
                            <label asp-for="Data.Created" class="control-label"></label>
                            <input asp-for="Data.Created" readonly class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Data.ReferenceNo" class="control-label"></label>
                            <input asp-for="Data.ReferenceNo" readonly class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Data.CustomerName" class="control-label"></label>
                            <input asp-for="Data.CustomerName" readonly class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Data.BarCode" class="control-label"></label>
                            <input asp-for="Data.BarCode" readonly class="form-control" />
                        </div>


                        <div class="form-group">
                            <label asp-for="Data.Quantity" class="control-label"></label>
                            <input asp-for="Data.Quantity" readonly class="form-control" />

                        </div>

                        <div class="form-group">
                            <label asp-for="Data.TotalAmount" class="control-label"></label>
                            <input asp-for="Data.TotalAmount" readonly class="form-control" />

                        </div>
                        @*
                        <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                        </div>*@

                        <div>
                            <a asp-action="Edit" asp-route-referenceNo="@Model.Data.ReferenceNo" class="btn btn-success">Edit</a>
                            <a asp-action="Delete" asp-route-referenceNo="@Model.Data.ReferenceNo" class="btn btn-Warning">Edit</a>
                            <a asp-action="Index" class="btn btn-warning">Back to List</a>
                        </div>
                    </form>
                </div>

            </div>







        </div>

    </div>

    <!-- search box  -->
    <div class="search-container">
        <form>
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i> Search </button>
        </form>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</main>
@* ends here *@

