.bodycontains {
    position: relative;
    width: 87%;
    float: right;
}

.navigatebody {
    position: relative;
    width: 13%;
    margin-top: 5px;
    float: left;
}

.loginform {
    position: absolute;
    top: 50px;
    width: 430px;
    height: 520px;
    /* position: absolute; */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #b3afaf;
}

.formcont {
    position: absolute;
    z-index: 1;
    background-color: aqua;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}






/* Box sizzin border box */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




/* colour for each box */
.box0 {
    background: hsla(0, 0%, 100%, 0);
    
}

.box1 {
    background: #3498db;
    
}

.box2 {
    background: #16a085;
    border-radius: 15px;

}

.box3 {
    background: #34495e;
}

.box4 {
    background: #2ecc71;
}

.box5 {
    background: #f000f0;
}

.box6 {
    background: #372364;
}

.box7 {
    background: #b9f1ac;
}

.box8 {
    background: #6d56ed;
}

.box9 {
    background: #630707;
}

.box10 {
    background: #ffe600;
}



/* Show default size to make each box visible */
.box {
    color: rgb(218, 207, 207);
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    /* padding: 10px; */

    width: inherit;
    height: inherit;
    margin: 10px;
    padding: 10px;
    /* flex: 1;  */
}



.container1 {
    display: flex;
    justify-content: flex-end;
    width: auto;
    
}

.container {
    display: flex;
    justify-content: flex-end;
    
}

.box1 {
    /* flex-basis: 900px; */
    /* flex-grow: 1; */
}

.box0 {
    /*flex-basis: 900px;
    flex-grow: 1;*/
}

input {
    border-radius: 15px;
  }





  /*
  nav
navbar-expand-sm
navbar-toggleable-sm
navbar-light

/
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
/






4358    @media (min-width: 576px)
4422    @media (min-width: 768px) 
4486    @media (min-width: 992px) 
4550    @media (min-width: 1200px)
4614    @media (min-width: 1400px) 

  */